html {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 height: 100%
}

*,
*::before,
*::after {
 -webkit-box-sizing: border-box;
 box-sizing: border-box
}

body {
 height: 100%;
 background: #1c1713;
 color: #e6e6e6;
 font-family: MOD20, serif;
 font-weight: 400
}

.page {
 overflow: hidden;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;
 min-height: 100%
}

.footer {
 margin-top: auto
}

.block-row {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 -ms-flex-direction: row;
 flex-direction: row
}

.visually-hidden {
 visibility: hidden;
 opacity: 0
}

.container {
 max-width: 1065px;
 padding: 0 10px;
 margin: 0 auto;
 min-height: 100%
}

.header {
 margin-bottom: 205px
}

.header__inner,
.footer__inner {
 padding: 24px 0
}

.nav {
 display: unset
}

.nav__list {
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 padding: 0;
 margin: 0;
 list-style: none
}

.nav__list-item:not(:last-child) {
 margin-right: 115px
}

.nav__list-link {
 text-transform: uppercase;
 text-decoration: none;
 display: block;
 font-family: phagspa, sans-serif;
 font-size: 15px;
 line-height: 19px;
 color: #e6e6e6;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s;
 padding: 10px 0
}

.nav__list-link:hover {
 color: #f8cc5a
}

.main-screen {
 position: relative;
 margin-bottom: 165px
}

.main-screen__dec {
 position: absolute;
 right: -50px;
 bottom: 30px;
 width: 97px;
 height: 90px;
 background-image: url("../img/main-screen/dec2.svg");
 background-repeat: no-repeat
}

.main-screen__inner {
 position: relative;
 background-image: url("../img/main-screen/main-screen__bg.png");
 background-repeat: no-repeat;
 background-position: center top;
 min-height: 605px
}

.main-screen__inner::before {
 content: "";
 position: absolute;
 right: -180px;
 top: -20px;
 width: 228px;
 height: 228px;
 background-image: url("../img/main-screen/dec1.svg");
 background-repeat: no-repeat
}

.main-screen__inner::after {
 content: "";
 position: absolute;
 bottom: 1px;
 left: 0;
 width: 170.5px;
 height: 180px;
 background-image: url("../img/main-screen/dec3.svg");
 background-repeat: no-repeat
}

.main-screen__title {
 margin: 0;
 font-family: MOD20, serif;
 font-weight: 400;
 font-size: 120px;
 line-height: 128px
}

.main-screen__title strong {
 position: absolute;
 font-weight: 400
}

.main-screen__title strong:nth-child(1) {
 top: 160px
}

.main-screen__title strong:nth-child(2) {
 top: 285px;
 left: 210px
}

.main-screen__title strong:nth-child(3) {
 color: #f8cc5a;
 top: 380px;
 left: 360px
}

.time-to-music {
 margin-bottom: 350px
}

.time-to-music__title {
 display: block;
 text-align: center;
 font-weight: 400;
 font-size: 35px;
 line-height: 37px;
 margin: 0px 0 260px;
 padding-bottom: 40px;
 border-bottom: 1px solid #fff
}

.time-to-music__inner {
 margin-top: 256px;
 -webkit-transform: translateX(100px);
 -ms-transform: translateX(100px);
 transform: translateX(100px)
}

.time-to-music__content {
 text-align: right;
 margin-right: 30px
}

.time-to-music__text {
 margin: 0;
 font-family: phagspa, sans-serif;
 font-size: 20px;
 font-weight: 400;
 line-height: 26px;
 color: #fff;
 margin: 100px 0 200px;
 width: 100%;
 max-width: 457px;
 text-align: left
}

.btn {
 text-decoration: none;
 color: #e6e6e6;
 display: inline-block;
 padding: 20px 75px;
 border: 1px solid #f8cc5a;
 font-family: MOD20, serif;
 font-weight: 400;
 font-size: 25px;
 line-height: 27px;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s;
 border-radius: 50%
}

.btn:hover {
 color: #1c1713;
 background: #f8cc5a
}

.vid {
 margin-bottom: 280px
}

.vid__vid {
 position: relative;
 width: 100%;
 padding-bottom: 41%;
 min-height: 100%
}

.vid__vid video {
 -o-object-fit: cover;
 object-fit: cover;
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0
}

.vid__vid::after {
 content: "";
 position: absolute;
 right: 50px;
 bottom: -100px;
 width: 273px;
 height: 269px;
 background-image: url("../img/big-img/dec.svg");
 background-repeat: no-repeat;
 z-index: -1
}

.title {
 font-weight: 400;
 font-size: 60px;
 line-height: 64px;
 margin: 0
}

.title span {
 display: block
}

.programms {
 margin-bottom: 325px;
 color: #fff
}

.programms .container {
 max-width: 1300px
}

.programms__title {
 margin: 0 0 100px 100px
}

.programms__title span:last-child {
 margin-left: 80px
}

.programms__row {
 margin-left: 50px
}

.programms__content {
 max-width: 670px;
 width: 100%;
 text-align: center;
 -webkit-transform: translateX(50px);
 -ms-transform: translateX(50px);
 transform: translateX(50px)
}

.programms__list {
 list-style: none;
 padding: 0;
 margin: 0;
 width: 100%;
 margin: 0 0 200px 0
}

.programms__list-item {
 padding: 28px 30px;
 border-top: 1px solid #fff;
 text-align: left
}

.programms__list-item:last-child {
 border-bottom: 1px solid #fff
}

.programms__list-box {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between
}

.programms__list-month {
 text-transform: uppercase;
 display: inline-block;
 font-weight: 400;
 font-size: 30px;
 line-height: 32px
}

.programms__list-month+.programms__lessons {
 margin: 30px 0 0px
}

.programms__lessons {
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 20px;
 line-height: 26px;
 color: #e6e6e6;
 margin: 0
}

.programms__list-price {
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 30px;
 line-height: 38px;
 margin: 15px 0
}

.achieve {
 margin-bottom: 375px;
 color: #e6e6e6
}

.achieve .container {
 max-width: 1215px
}

.achieve__inner {
 margin-left: 80px;
 position: relative
}

.achieve__inner::after {
 position: absolute;
 content: "";
 bottom: -290px;
 right: -450px;
 width: 533px;
 height: 541px;
 background-image: url("../img/achieve/dec.svg");
 background-repeat: no-repeat
}

.achieve__title {
 margin-bottom: -120px;
 position: relative;
 z-index: 1;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, .25)
}

.achieve__title span:nth-child(1) {
 font-size: 70px;
 line-height: 75px
}

.achieve__title span:nth-child(2) {
 margin-left: 75px
}

.achieve__title strong {
 font-weight: 400;
 color: #f8cc5a
}

.achieve__text {
 font-weight: 400;
 font-size: 30px;
 line-height: 32px;
 margin: 0
}

.achieve__text span {
 display: block;
 text-align: right
}

.achieve__img {
 -webkit-transform: translateX(100px);
 -ms-transform: translateX(100px);
 transform: translateX(100px)
}

.reviews {
 margin-bottom: 145px
}

.reviews__inner {
 margin-bottom: 370px
}

.reviews__title {
 margin-bottom: 250px;
 font-size: 40px;
 line-height: 43px;
 position: relative
}

.reviews__title::after {
 position: absolute;
 content: "";
 width: 1270px;
 height: 1px;
 background: #fff;
 left: -1000px;
 top: -23px
}

.reviews__slider {
 margin: 0 auto
}

.slider-reviews {
 max-width: 683px;
 border: 1px solid #f8cc5a
}

.slider-reviews .slick-prev {
 left: 30px;
 z-index: 1;
 display: inline-block;
 width: 20px;
 height: 20px;
 border: 1px solid #f8cc5a;
 background: rgba(0, 0, 0, 0);
 opacity: 1;
 border-radius: 50%;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s
}

.slider-reviews .slick-prev::before,
.slider-reviews .slick-next::before {
 content: "";
 font-family: unset
}

.slider-reviews .slick-prev:hover,
.slider-reviews .slick-next:hover {
 background: #f8cc5a
}

.slider-reviews .slick-next {
 right: 30px;
 z-index: 1;
 display: inline-block;
 width: 20px;
 height: 20px;
 border: 1px solid #f8cc5a;
 background: rgba(0, 0, 0, 0);
 opacity: 1;
 border-radius: 50%;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s
}

.slider-reviews__item {
 padding: 44px 80px 50px 100px
}

.slider-reviews__item-person {
 -webkit-box-pack: start;
 -ms-flex-pack: start;
 justify-content: flex-start;
 font-family: phagspa, sans-serif;
 font-weight: 400;
 margin-bottom: 22px
}

.slider-reviews__item-img {
 margin-right: 52px
}

.slider-reviews__item-name {
 font-size: 20px;
 line-height: 26px;
 margin: 0 0 20px
}

.slider-reviews__item-age {
 margin: 0;
 font-size: 15px;
 line-height: 19px
}

.slider-reviews__item-text {
 margin: 0;
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 15px;
 line-height: 19px
}

.reviews__dec {
 text-align: center;
 margin-bottom: 35px
}

.reviews__dec span {
 display: inline-block;
 width: 15px;
 height: 15px;
 background: #f8cc5a;
 border-radius: 50%
}

.reviews__dec span:not(:last-child) {
 margin-right: 25px
}

.reviews__quote {
 font-weight: 400;
 font-size: 40px;
 line-height: 43px;
 text-align: center;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
 margin: 0 auto 225px;
 width: 100%;
 max-width: 601px
}

.reviews__img {
 padding: 31px;
 border: 1px solid #f8cc5a
}

.reviews__img img {
 width: 100%;
 -o-object-fit: cover;
 object-fit: cover
}

.questions {
 margin-bottom: 550px
}

.questions__inner {
 position: relative
}

.questions__inner::after {
 position: absolute;
 content: "";
 bottom: -280px;
 width: 10px;
 height: 53px;
 left: 0;
 right: 0;
 margin: 0 auto;
 background: url("../img/questions/dec.svg");
 background-repeat: no-repeat
}

.questions__title {
 font-size: 40px;
 line-height: 43px;
 margin-bottom: 65px
}

.accordion-item,
.accordion-header,
.accordion-button {
 background: rgba(0, 0, 0, 0)
}

.accordion-item {
 border: none;
 outline: none
}

.accordion-button {
 background: rgba(0, 0, 0, 0) !important;
 width: 100%;
 border: none;
 border-bottom: 1px solid #f8cc5a;
 font-family: MOD20, serif;
 font-weight: 400;
 font-size: 36px;
 line-height: 39px;
 background: rgba(0, 0, 0, 0);
 cursor: pointer;
 color: #e6e6e6;
 padding: 40px 0;
 text-align: left;
 position: relative
}

.accordion-button::after {
 content: "";
 -ms-flex-negative: unset;
 flex-shrink: unset;
 background-image: unset;
 background-repeat: unset;
 background-size: unset;
 position: absolute;
 content: "";
 right: 0;
 bottom: 0;
 top: 0;
 margin: auto 0;
 width: 39px;
 height: 39px;
 border: 1px solid #f8cc5a;
 background: #f8cc5a;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s;
 border-radius: 50%
}

.accordion-button:focus {
 border: none;
 border-bottom: 1px solid #f8cc5a;
 -webkit-box-shadow: none;
 box-shadow: none
}

.accordion-button:not(.collapsed) {
 color: #e6e6e6;
 -webkit-box-shadow: none;
 box-shadow: none
}

.accordion-button:not(.collapsed)::after {
 background: rgba(0, 0, 0, 0)
}

.accordion-body {
 margin: 0;
 padding: 20px 0;
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 20px;
 color: #e6e6e6;
 line-height: 26px;
 background: rgba(0, 0, 0, 0)
}

.contacts {
 text-align: center;
 margin-bottom: 180px
}

.contacts__inner {
 position: relative
}

.contacts__text {
 margin: 0 0 206px;
 font-weight: 400;
 font-size: 25px;
 line-height: 27px;
 text-align: left
}

.contacts__text>span {
 display: block
}

.contacts__text>span>span {
 color: #f8cc5a
}

.contacts__title {
 margin: 0 0 -300px;
 font-weight: 400;
 font-size: 120px;
 line-height: 128px;
 color: #f8cc5a;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
 position: relative;
 z-index: 1
}

.contacts__img {
 display: inline-block;
 border: 1px solid #f8cc5a;
 margin-bottom: 40px
}

.contacts__links>a {
 display: inline-block;
 text-decoration: none;
 font-family: MOD20, serif;
 font-weight: 400;
 font-size: 25px;
 line-height: 27px;
 color: #fffaf7;
 padding: 15px 0;
 position: relative;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s
}

.contacts__links>a:hover {
 color: #f8cc5a
}

.contacts__links a:not(:last-child)::after {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 margin: 0 auto;
 width: 53px;
 height: 1px;
 background: #f8cc5a
}

.contacts__list {
 list-style: none;
 padding: 0;
 max-width: 140px;
 margin: 16px auto 0
}

.contacts__list-link {
 background: #b2b0ae;
 padding: 9px;
 display: block;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s;
 border-radius: 50%
}

.contacts__list-link:hover {
 background: #f8cc5a
}

.contacts__list-link img {
 display: block
}

.contacts__btn {
 position: absolute;
 right: -120px;
 bottom: 120px
}

.sign-up {
 min-height: 100vh;
 position: relative
}

.sign-up__link {
 position: absolute;
 left: 30px;
 top: 30px
}

.sign-up__row {
 min-height: 100vh;
 display: grid;
 grid-template-columns: 50% 50%;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 align-self: center
}

.sign-up__column {
 min-height: 100vh;
 text-align: center;
 display: grid;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center
}

.sign-up__column:first-child {
 background: #1c1713
}

.sign-up__column:last-child {
 background: #573f2c
}

.sign-up__content {
 max-width: 370px;
 width: 100%;
 margin: 0 auto 0 140px
}

.sign-up__box {
 margin: 0 110px 0 auto;
 position: relative
}

.sign-up__circle {
 position: relative;
 width: 447px;
 height: 450px
}

.circle {
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 margin: auto auto;
 width: 314px;
 height: 311px;
 border-radius: 50%;
 text-align: center;
 line-height: 200px;
 font-size: 21px
}

.circle--big {
 position: absolute;
 width: 447px;
 height: 450px;
 border-radius: 50%;
 text-align: center;
 line-height: 200px;
 font-size: 31px;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 color: #f8cc5a
}

.circle span {
 display: inline-block;
 width: 25px;
 position: absolute;
 -webkit-transform: translate(-10.5px, 55px) rotate(var(--rot)) translate(0, -180px);
 -ms-transform: translate(-10.5px, 55px) rotate(var(--rot)) translate(0, -180px);
 transform: translate(-10.5px, 55px) rotate(var(--rot)) translate(0, -180px)
}

.circle--big strong {
 display: inline-block;
 width: 25px;
 position: absolute;
 -webkit-transform: translate(-10.5px, 125px) rotate(var(--rot)) translate(0, -210px);
 -ms-transform: translate(-10.5px, 125px) rotate(var(--rot)) translate(0, -210px);
 transform: translate(-10.5px, 125px) rotate(var(--rot)) translate(0, -210px)
}

.sign-up__circle-img {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto auto
}

.sign-up__title {
 font-weight: 400;
 font-size: 25px;
 line-height: 27px;
 text-transform: uppercase;
 margin: 0 0 83px
}

.sign-up__title:hover {
 background: rgba(0, 0, 0, 0);
 color: #e6e6e6
}

.sign-up__text {
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 10px;
 line-height: 13px;
 color: #fff;
 margin: 0 0 56px
}

.form__inputs {
 margin-bottom: 39px
}

.form__input {
 display: block;
 width: 100%;
 border: .5px solid #fff9f4;
 padding: 12px 18px;
 background: rgba(0, 0, 0, 0);
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 10px;
 line-height: 13px;
 color: #fff;
 outline: none
}

.form__input:not(:last-child) {
 margin-bottom: 22px
}

.form__input::-webkit-input-placeholder {
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 10px;
 line-height: 13px;
 color: #fff
}

.form__input::-moz-placeholder {
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 10px;
 line-height: 13px;
 color: #fff
}

.form__input:-ms-input-placeholder {
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 10px;
 line-height: 13px;
 color: #fff
}

.form__input::-ms-input-placeholder {
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 10px;
 line-height: 13px;
 color: #fff
}

.form__input::placeholder {
 font-family: phagspa, sans-serif;
 font-weight: 400;
 font-size: 10px;
 line-height: 13px;
 color: #fff
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

.form__btn {
 padding: 12px 0;
 width: 100%;
 background-color: rgba(255, 249, 244, .5);
 font-family: microsoft-phagspa-bold, serif;
 font-weight: 700;
 font-size: 16px;
 line-height: 20px;
 color: #1c1713;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s;
 border: none;
 cursor: pointer;
}

.form__btn:hover {
 color: #f8cc5a
}

.popup {
 height: 100%;
 padding: 41px 37px;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #1c1713;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s
}

.popup__wrapper {
 border: 1px solid #fff;
 height: 100%
}

.popup__inner {
 height: 100%;
 position: relative;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center
}

.popup__close {
 position: absolute;
 right: 10px;
 top: 10px;
 background: rgba(0, 0, 0, 0);
 border: none;
 cursor: pointer
}

.popup__title {
 font-weight: 400;
 font-size: 25px;
 line-height: 27px;
 text-align: center;
 max-width: 676px;
 margin: 0
}